* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    padding: 14px 20px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}

.header-text h1 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}


.header-text p {
    font-size: 13px;
    color: black;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid #e7e7e7;
    background-color: #F8F8F8;
    border-radius: 8px;
    padding: 6px 0px 6px 15px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
}


.login-button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: rgb(114, 114, 114);
}

.my-cart {
    background-color: #E5E5E5;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    border-radius: 6px;
}

.my-cart button {
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.my-cart i {
    margin-right: 8px;
    font-size: 18px;
}

main {
    margin-top: 95px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

main img {
    width: 95%;
    height: auto;
}


.small-images {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 1% 4%;
}

.small-images-width {
    width: 100%;
    display: flex;
    column-gap: 30px;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-categery {
    display: flex;
    column-gap: 10px;
    padding: 0.3% 3%;
}


.products-1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.all-product-list {
    padding: 1% 4%;
}

.all-product-list h1 {
    font-size: 22px;
}

.all-product-list a {
    color: green;
    text-decoration: none;
}


.products-heading-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 12px;
}

.products-box {
    height: auto;
    width: 190px;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 17px 10px;
    border-radius: 8px;
    row-gap: 6px;
}

.products-box img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

.order-timing {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border: none;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.order-timing img {
    width: 16px;
    height: auto;
}


.order-timing button {
    background-color: transparent;
    border: none;
    font-size: 12px;
}


.products-box button img {
    width: 20px;
    height: auto;
}

.products-box h1 {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin: 6px 0;
}

.products-box p {
    font-size: 14px;
    color: gray;
    margin-bottom: 6px;
}


.products-box .price-seaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-box .price-seaction h2 {
    font-size: 13px;
    font-weight: bold;
    color: black;
}


.products-box .price-seaction button {
    font-size: 14px;
    font-weight: bold;
    color: green;
    padding: 6px 12px;
    border: 1px solid green;
    border-radius: 4px;

}




footer {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.footer-leftSide {
    width: 30%;
}

.footer-leftSide h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}

.footer1-Colume {
    display: flex;
    justify-content: space-between;
    row-gap: 8px;

}


.footer1-Colume .text-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.footer1-Colume .text-list a {
    list-style: none;
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
}

.footer-RightSide {
    width: 60%;
    padding-right: 6%;
}

.footer-RightSide h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}



.after-footer {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyRight p {
    font-size: 14px;
    color: #636363;
    padding: 12px 0;
}

.app-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.app-demo img {
    width: 100px;
    height: auto;
    margin: 12px 8px;
}


.app-demo h2 {
    font-size: 15px;
    color: #636363;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.icons i {
    font-size: 35px;
    color: #000000;
    margin: 0 10px;
}


.last-footer-text {
    font-size: 14px;
    color: #636363;
    padding: 12px 4%;
}